<h1>Carrito de la compra</h1>

<div *ngIf="products.length == 0" class="no-products">
  <strong>¡No hay productos en el carrito!</strong>
</div>

<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }}€</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="imgs" [src]=product.image alt="imagen">
      <mat-card-content>
        <p>
          {{ product.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button  color="warn" (click)="removeFromCart(product)"><mat-icon>remove_shopping_cart</mat-icon>Eliminar del carrito</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="products.length !== 0" >

  <hr>

  <div class="row cart_info" align="center">
    <div class="col">
      Total de productos: {{ products.length }}
    </div>
    <div class="col">
      Precio total: {{ total_price }}€
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="confirmBuy()"><mat-icon>attach_money</mat-icon>Finalizar comprar</button>
    </div>
  </div>

</div>