<h1>PANEL DE PRODUCTOS</h1>

<div *ngIf="dataSource.data.length == 0" class="no-products">
    <strong>¡No hay productos!</strong>
</div>

<div class="create-btn center">
  <button mat-flat-button color="primary" (click)="newProduct()" 
  matTooltip="Crear nuevo producto" [matTooltipShowDelay]="500" [matTooltipHideDelay]="500" [matTooltipPosition]="'left'">
    <mat-icon>add</mat-icon> Nuevo Producto
  </button>
</div>

<table mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource" matSort class="mat-elevation-z8 center">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del producto</th>
      <td mat-cell *matCellDef="let product"> <strong>{{product.name}}</strong> </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let product"> <strong>{{product.description}}</strong> </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
      <td mat-cell *matCellDef="let product"> <strong>{{product.price}}€</strong> </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
      <td mat-cell *matCellDef="let product"> <img class="imgs" [src]=product.image alt="imagen"> </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let product"> 
        <button mat-icon-button (click)="editProduct(product)">
          <mat-icon color="primary">create</mat-icon> 
        </button>
        <button mat-icon-button (click)="deleteProduct(product)">
          <mat-icon color="warn">delete</mat-icon> 
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>