<mat-sidenav-container fullscreen>

  <mat-sidenav-content fxLayout="column">

    <mat-toolbar color="primary">
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping Cart DAW2</span>
      <div fxFlex>
        <button mat-button routerLink="/home" routerLinkActive="active">Página principal</button>
        <button mat-button routerLink="/products" routerLinkActive="active">Productos</button>
      </div>
      
      <div fxFlex fxLayoutAlign="flex-end center">
        <button mat-flat-button class="login" routerLink="/login" *ngIf="!authService.isUserEmailLoggedIn" routerLinkActive="active">Iniciar sesión</button>
        <div *ngIf="authService.isUserEmailLoggedIn">
          <button mat-mini-fab routerLink="/user" routerLinkActive="active" aria-label="Perfil de usuario">
            <mat-icon>person</mat-icon>
          </button>
          <button mat-mini-fab routerLink="/cart" routerLinkActive="active" aria-label="Carrito de usuario" class="navbar-btn">
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button mat-flat-button class="panel navbar-btn" routerLink="/products/panel" routerLinkActive="active">Panel de productos</button>
          <button mat-flat-button class="logout" (click)="authService.signOut()">Cerrar sesión</button>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <footer fxFlexOffset="auto">
      Desarrollo de Aplicaciones Web II | Hecho por Damon García García
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>