footer {
    background-color: grey;
    color: white;
    text-align: center;
}

.login {
    color: white;
    background-color: limegreen;
}

.logout {
    color: white;
    background-color: red;
    
}

.panel {
    background-color:yellow;
    margin-right: 10px;
}

mat-toolbar {
    min-height: 50px;
    max-height: 50px;
}