<mat-sidenav-container fullscreen>

  <mat-sidenav-content fxLayout="column">

    <mat-toolbar color="primary">
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping Cart DAW2</span>
      <a mat-button routerLink="/home" routerLinkActive="active">Página principal</a>
      <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
      <a mat-button routerLink="/cart" routerLinkActive="active">Carrito</a>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <footer fxFlexOffset="auto">
      Desarrollo de Aplicaciones Web II | Hecho por Damon García García
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>